<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <a class="navbar-item <%= path === '' ? 'is-active' : '' %>" href="/">
            <i class="mdi mdi-24px mdi-basket">Shop</i>
        </a>
        <div class="navbar-start">
            <a class="navbar-item <%= path === 'add-data' ? 'is-active' : '' %>" href="add-data">
                <i class="mdi mdi-24px mdi-plus"> Add Data</i>
            </a>
        </div>
</nav>